<h1>Update details</h1>

<div>
  <mat-card>
    <mat-card-content>

      <form class="example-form" [formGroup]="form" (ngSubmit)="onUpdate()">

        <!-- id -->
        <mat-form-field class="example-full-width">
          <mat-label>ID</mat-label>
          <input matInput placeholder="Enter your ID" formControlName="id" #id [(ngModel)]="employee.id" readonly>
          <mat-error>{{getErrorMessageForName()}}</mat-error>
        </mat-form-field>

        <br>

        <!-- Name -->
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" formControlName="employee_name" #employee_name
            [(ngModel)]="employee.employee_name">
          <mat-error>{{getErrorMessageForName()}}</mat-error>
        </mat-form-field>

        <br>

        <!-- Email -->

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" #email [(ngModel)]="employee.email">
            <mat-error *ngIf="email.invalid">{{getErrorMessageForEmail()}}</mat-error>
            <div *ngIf="email.invalid && !email.pristine">
            </div>
          </mat-form-field>
        </div>


        <br>

        <!-- DoB -->

        <mat-form-field class="example-full-width">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="dp" placeholder="Choose a date" [formControl]="employee_dob"
            [(ngModel)]="employee.employee_dob">
          <mat-error>{{getErrorMessageForDoB()}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>

        <br>

        <!-- skills -->

        <mat-form-field class="example-full-width">
          <mat-label>Skills</mat-label>
          <mat-select placeholder="Skills" [formControl]="skills" [(ngModel)]="empSkills" multiple>
            <mat-option *ngFor="let skill of skillsObject" [value]="skill"> {{skill.skill_name}}</mat-option>
          </mat-select>
          {{skillNames}} 

          <!-- skillNames string -->
          <!-- {{employee.skills}}  -->
        </mat-form-field>


        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="openSnackBar()">Update</button>
        </mat-card-actions>

      </form>
    </mat-card-content>

  </mat-card>
</div>