<h1>Enter details</h1>


<div>
  <mat-card>
    <mat-card-content>

      <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Name -->
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" formControlName="employee_name">
          <mat-error>{{getErrorMessageForName()}}</mat-error>
        </mat-form-field>
        
        <br>

        <!-- DoB -->

        <mat-form-field class="example-full-width">
            <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="dp" placeholder="Choose a date" [formControl]="employee_dob">
          <mat-error>{{getErrorMessageForDoB()}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>

        <br>

        <!-- Email -->

        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessageForEmail()}}</mat-error>
            <div *ngIf="email.invalid && !email.pristine">
                <!-- <p *ngIf="email.errors.email">Valid email is required.</p> -->
                <!-- <p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
                <p *ngIf="email.errors.emailDomain">Email must be on the codecraft.tv domain</p> -->
              </div>
          </mat-form-field>
        </div>

        <br>

        <!-- skills -->

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Skills" [formControl]="skills" multiple>
            <mat-option *ngFor="let skill of skillList; let i = index" [value]="skill"> {{skill.skill_name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-card-actions>
          <!-- put buttons here -->
          <button mat-raised-button color="primary" [disabled]="!form.valid" >Submit</button>
        </mat-card-actions>

        <!-- routerLink="/add-new-emp" -->


      </form>
    </mat-card-content>

  </mat-card>
</div>